$grass: rgb(16, 155, 16);
$sky: rgb(0, 102, 255);
$sun: rgb(236, 236, 14);
$numbersKey: rgba(218, 218, 218, 0.712);

$startBtn: rgba(204, 204, 204, 0.3);
$startBtnHov: rgba(204, 204, 204, 0.5);

$keyActive: rgba(0, 183, 255, 0.658);
$keyWin: rgba(17, 255, 0, 0.507);
$keyLost: rgba(255, 0, 0, 0.575);
$keyClick: rgba(225, 255, 0, 0.085);
