@import './colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $sky;
	color: $numbersKey;
	background-image: url('../img/bg-small.jpg');
	background-position: 40% 40%;
	background-repeat: no-repeat;
	// background-size: cover;
}

.topMenu {
	display: flex;
	flex-direction: column;
	height: 10vh;
	width: 100%;
	padding: 2%;
	text-shadow: 1px 1px 5px #00000094;

	&__line {
		display: flex;
		flex-direction: row;
	}
	.day-nightBtn {
		position: absolute;
		right: 0;
		padding: 2px;
		border: none;
		background-color: rgba(255, 255, 255, 0);
	}
	&__corner {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		z-index: -100;
		.sun {
			position: absolute;
			top: -50px;
			right: -50px;
			height: 100px;
			width: 100px;
			border-radius: 100%;
			background-color: $sun;
			z-index: -100;
			overflow: hidden;
		}
	}
}

.keyboard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 90vh;
	width: 100%;

	&__top {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50%;
		.start {
			padding: 30px 50px;
			background-color: $startBtn;
			border: none;
			color: $numbersKey;
			text-shadow: 2px 2px 11px #000000;
			box-shadow: 2px 2px 11px #000000;
		}
		.start:hover {
			background-color: $startBtnHov;
		}
		.start:active {
			border: 1px solid black;
			color: black;
		}
		.timer {
			position: relative;
			font-size: 100px;
		}
	}

	.keys {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px;
		height: 50%;
		width: 100%;
		padding: 10%;
		background-color: $grass;
		// background-image: url('../img/grass.png');
		background-position: center;
		background-repeat: space;
		background-size: 15%;
		background-attachment: fixed;
	}
	.key {
		border: none;
		background-color: rgba(128, 128, 128, 0);
		background-image: url('../img/mound.png');
		background-position: 50% -12px;
		background-repeat: no-repeat;
		background-size: contain;
		color: $numbersKey;
		font-size: 1.5em;
		z-index: 1;
		&--active {
			background-image: url('../img/molemound.png');
			background-position: center;
			color: #00000000;
		}
		&--win {
			background-color: $keyWin;
		}

		&--lost {
			background-color: $keyLost;
		}

		&:active {
			background-color: $keyClick;
		}
	}
}

.hidden {
	display: none;
}

@media (min-width: 480px) {
	body {
		background-image: url('../img/bg-big.jpg');
		background-size: cover;
	}
}

// @media (min-width: 600px) {
// 	.keys {

// 	}
// }

@media (min-width: 768px) {
	body {
		background-image: url('../img/bg-big.jpg');
	}
}
